/*  General  */
@font-face {
  font-family: EXEPixelPerfect;
  src: url(EXEPixelPerfect.ttf);
  size-adjust: 200%;
  ascent-override: 55%;
}
body,
textarea {
  font-family: EXEPixelPerfect;
}
*{
  margin:0;padding:0;box-sizing:border-box;
  position: relative;
}
h1, h2, h3, h4, h5, h6{
  text-align: center;
}
ul{
  list-style: none;
  text-align: center;
}


/* -- Custom classes -- */

.big{
  width: 100%;
}
.tall{
  height: 100%;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.grow{
  flex-grow: 100;
}
.selected{
  color: #133;
  background: #3aa;
}
.btn-list li{
  box-shadow: 1px 1px 1px #333, -1px -1px 1px #ddd;
  gap: .5em;
  padding: 0 .5em;
  transition: .15s;
}
.btn-list li:hover{
  background: #0aa;
}
.btn-list.flex-between{
  gap: .5em;
  align-items: center;
}

/*  body  */
html{
  height: 100vh;
  color: #fff;
  background: linear-gradient(135deg, #022, #011 5%, #000 20%, #000 80%, #011 95%, #022);
}
body{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  header  */
header{
  position: relative;
  padding: .5rem 1rem;
  align-items: center;
}
header h1{
  font-size: 1.5rem;
  color: #6a6;
  text-shadow: 1px 1px #050, -1px -1px #fff;
}
header nav{
  box-shadow: 0 0 2px #bbb;
  padding: .2em .4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*  main  */
main{
  margin: 0 1rem;
}
#game-data{
  padding: .2em 0;
}
#game-data button{
  box-shadow: 1px 1px 1px #222, -1px -1px 1px #fff;
  padding: 0 .5em;
  color: #ddd;
  background: none;
  border: none;
}
#tool-selector{
  padding: .5rem 0;
  flex-wrap: wrap;
}
#tool-selector li{
  min-width: 5em;
  flex-grow: 100;
}
#tool-selector li label{
  display: block;
}
#editor-wrapper article{
  flex-grow: 100;
  height: 50vh;
  animation: popanim .3s;
  border: 1px solid grey;
}
#editor-wrapper article, .hidden{
  display: none;
}
#editor-wrapper input:checked + article{
  display: block;
}

/* code editor */

#editor-code-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#editor-code ul{
  padding: .2em;
  overflow: scroll;
  display: flex;
}
#editor-code ul li{
  padding: .2em 0;
  min-width: 3em;
}
#editor-code ul::-webkit-scrollbar {
  display: none;
}

#code-area{
  position: relative;
  height: 100%;
  background: #666;
}

#code-area textarea{
  border: none;
  font-family: monospace;
  font-size: 1em;
  white-space: pre;
  outline: none;
  resize: none;
  color:#0000;
  caret-color: #f0932b;
  background: none;
  overflow: scroll;
}
#code-area textarea, #code-area pre{
  position: absolute;
  tab-size: 2;
  height: 100%;
}
#code-area textarea::-webkit-scrollbar {
  display: none;
}
#code-area pre{
    pointer-events: none;
}
#code-lines{
  width: 2.6em;
  text-align: right;
}
#js-code, #code-area textarea{
  left: 2.8em;
  width:calc(100% - 2.8em);
}
#code-area code{
  padding: 0;
  overflow: hidden;
  height: 100%;
  tab-size: 2;
}

/* atlas tab */
#editor-atlas{
  height: 100%;
}
#editor-atlas div.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#atlas-list{
  display: flex;
  overflow: scroll;
}
#atlas-list::-webkit-scrollbar {
  display: none;
}
#atlas-list li{
  margin: .4em;
  height: 10em;
  padding: .5em .5em 0 .5em;
  box-shadow: 1px 1px 1px #222, -1px -1px 1px #fff;
  word-break: break-all;
  font-size: .6em;
}
#atlas-list li img{
  display: block;
  height: 8em;
}
#editor-atlas div.grow{
    overflow-y: scroll;
    height: 100%;
}
#editor-atlas p{
  text-align: center;
  box-shadow: 1px 1px 1px #222, -1px -1px 1px #fff;
  margin: .5em;
}
#atlas-conf{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 25em;
  gap: 2em;
  margin: 0 auto;
}
#atlas-conf button{
  padding: .3em;
  width: 2em;
}
#atlas-conf input{
  width: 3.5em;
  padding: .3em 0;
}

/*
  width: 45%;
  background: red;
}
#atlas-conf-r{
  text-align: left;
}
#atlas-conf-wrapper{
  position: relative;
}
*/
#editor-atlas canvas{
  box-shadow: 1px 1px 1px #222, -1px -1px 1px #fff;
  image-rendering: pixelated;
}
#atlas-canv-a{
  width: 95%;
  display: block;
  margin: 1em auto;
}
#atlas-canv-b{
  pointer-events: none;
  position: absolute;
  transition: .1s;
  z-index: 1000;
  transform: scale(0);
  background: #f0f;
}

/* game iframe */
#game-wrapper iframe{
  height: 100%;
  width: 100%;
  animation: popanim .3s;
}

/*  other  */
aside{
  animation: popanim .3s;
  display: none;
  position: fixed;
  inset: .5em;
  padding: .5em;
  background: #011;
}
#modal-main-menu{
  display: none;
}
#modal-main-menu:checked + aside{
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.sub-menu{
  display: none;
  flex-grow: 100;
  height: 50vh;
  overflow: scroll;
}
.mnu-select:checked + .sub-menu, .mnu-cheatsheet:checked + pre{
  display: block;
  animation: popanim .3s;
}
aside pre{
  display: none;
}
.mnu-cheatsheet{
  display: none;
}

footer{
  text-align: center;
  position: relative;
}
footer p{
  position: absolute;
  background: grey;
  color:grey;
  bottom: 0;
  right: 0;
  width: 12vmin;
  height: 12vmin;
  transition: .1s;
  z-index: 1000;
  
}
@media (orientation: landscape){
  header nav{
    flex-direction: row;
  }
  #editor-code-container {
    flex-direction: row;
  }
  #editor-code-container ul{
    display: block;
  }
  #editor-atlas div.wrapper{
    flex-direction: row;
  }
  #atlas-list{
    display: block;
  }
  #atlas-list li{
    height: auto;
  }
  #atlas-list li img{
    width: 8em;
    height: auto;
  }


}
@keyframes popanim{
  0%{
    transform: scaleY(0) rotate(45deg);
  }
  60%{
    transform: scaleY(1.02) rotate(-2deg);
  }
  100%{
    transform: scaleY(1);
  }
}
